<!doctype html>
<html>
<head>
	<title>Pharlap</title>
	
	<link href="css/angular-bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-datepicker.css" rel="stylesheet">
	
	<style type="text/css">
	[ng\:cloak], [ng-cloak], .ng-cloak {
		display: none !important;
	}
	</style>
</head>

<body ng-app="pharlap" ng-cloak class="ng-cloak">

	<div ng-controller="mainCtrl as mainCtrl" class="container">
		<div style="font-size:40px">Pharlap</div>
		<div style="font-size:25px">Horse Racing Prediction System</div>
		
		<br/>
		<div class="form-group">
			<label class="control-label pull-left" for="date" style="font-size:18px;padding-top:5px;margin-right:5px" >Race Date:</label>
		  	<input class="datepicker form-control pull-left" style="font-size:18px;width:150px;margin-right:10px" readonly="readonly" ng-model="raceDate" >
			<a type="button" class="btn btn-primary" ng-click="mainCtrl.retrieveData()">Go</a>
		</div>
		
	</div>
	
	<script src="js/angular-bootstrap.js" type="text/javascript"></script>
	<script src="js/bootstrap-datepicker.js" type="text/javascript"></script>
	<script src="js/main.js"></script>
	
	<script>
		$('.datepicker').datepicker({
			todayBtn: true,
			todayHighlight: true,
		    format: 'dd/mm/yyyy',
		    startDate: '0d'
		});
	</script>

</body>
</html>