.top-buffer { margin-top:20px; }
.bottom-buffer {margin-bottom:20px; }
a.panel-link-text{ color: white;}

.not-so-huge {
    font-size: 20px;
}

#graphRedWine, #graphWhiteWine, #graphIris, #graphSeeds, #graphGlass, #graphSkin, #graphDerm, #graphIonosphere {
	width: 100%;
	height: 600px;
}

#container {
	max-width: 1000px;
	height: 500px;
	margin: auto;
}

#netErrorGraphPlaceholder{
	width: 100%;
	height: 400px;
}

p {
	font-size: 15px
}

.perceptron-back{
	background-image: url("/images/Dermatology-22-hidden-layer-zoom-in.png");
}