<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

    <head>
        <title>Multilayer Perceptron Dashboard</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Multilayer Perceptrons Dashboard</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div th:replace="fragments :: globalNotification"></div>
                </div>              
            </div>
            <div class="row">                
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-play fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div id="runningThreadCount" class="huge"></div>
									<div class="not-so-huge">Running</div>
								</div>
							</div>
						</div>
						<div class="panel-body">						
						</div>
                    </div>
                </div>
				<div class="col-lg-4 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-pause fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div id="pausedThreadCount" class="huge"></div>
									<div class="not-so-huge">Paused</div>
								</div>
							</div>
						</div>
						<div class="panel-body">						
						</div>
                    </div>
                </div>
				<div class="col-lg-4 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-stop fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div id="stoppedThreadCount" class="huge"></div>
									<div class="not-so-huge">Stopped</div>
								</div>
							</div>
						</div>
						<div class="panel-body">						
						</div>
                    </div>
                </div>

            </div>
		</div>
        <div layout:fragment="custom-js">
            <script th:inline="javascript">

				$(document).ready(function () {

					function fetchData() {
						function onDataReceived(dashBoardDTO) {
							$("#runningThreadCount").hide();
							$("#pausedThreadCount").hide();
							$("#stoppedThreadCount").hide();
							$("#runningThreadCount").html(dashBoardDTO.runningThreadCount);
							$("#pausedThreadCount").html(dashBoardDTO.pausedThreadCount);
							$("#stoppedThreadCount").html(dashBoardDTO.stoppedThreadCount);
							$("#runningThreadCount").fadeIn(1000);
							$("#pausedThreadCount").fadeIn(1000);
							$("#stoppedThreadCount").fadeIn(1000);

							setTimeout(fetchData, 15000);
						}
						$.ajax({
							url: "/mlp/dashboard/info",
							type: "GET",
							dataType: "json",
							success: onDataReceived
									//failure:
						});
					}
					fetchData();

				});

            </script>

        </div>
    </body>
</html>
