<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

    <head>
        <title th:text="#{mlp.create.heading}">Create Multilayer Perceptron</title>
    </head>
    <body>
        <div layout:fragment="content">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" th:text="#{mlp.create.heading}">Create Multilayer Perceptron</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div th:replace="fragments :: globalNotification"></div>
                </div>              
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <form th:object="${mlpForm}" th:action="@{/mlp/train}" method="post" role="form">
                        <div class="show-grid"></div>
                        <div th:replace="fragments :: errors"></div>
                        <div th:replace="fragments :: globalNotification"></div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('networkName')} ? 'has-error'">
                            <div class="row">
                                <div class="col-lg-2">
                                    <label for="networkName" class="control-label" th:text="#{mlp.create.network.name}">Test Name:</label>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" th:field="*{networkName}" />
                                </div>
                                <div class="col-lg-6">
                                    <p th:if="${#fields.hasErrors('networkName')}" th:errors="*{networkName}" class="help-block"></p>
                                </div>
                            </div>
                        </div>                        
                        <div class="form-group" th:classappend="${#fields.hasErrors('neuronCount')} ? 'has-error'">
                            <div class="row">
                                <div class="col-lg-2">
                                    <label for="neuronCount" class="control-label" th:text="#{mlp.create.hidden.layer.1.neuron.count}">Neuron Count:</label>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" th:field="*{neuronCount}" />
                                </div>
                                <div class="col-lg-6">
                                    <p th:if="${#fields.hasErrors('neuronCount')}" th:errors="*{neuronCount}" class="help-block"></p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" th:classappend="${#fields.hasErrors('momentum')} ? 'has-error'">
                            <div class="row">
                                <div class="col-lg-2">
                                    <label for="momentum" class="control-label" th:text="#{mlp.create.momentum}">Momentum:</label>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" th:field="*{momentum}" />
                                </div>
                                <div class="col-lg-6">
                                    <p th:if="${#fields.hasErrors('momentum')}" th:errors="*{momentum}" class="help-block"></p>
                                </div>
                            </div>
                        </div>	

                        <div class="form-group" th:classappend="${#fields.hasErrors('learningRate')} ? 'has-error'">
                            <div class="row">
                                <div class="col-lg-2">
                                    <label for="learningRate" class="control-label" th:text="#{mlp.create.learning.rate}">Learning Rate:</label>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" th:field="*{learningRate}" />
                                </div>
                                <div class="col-lg-6">
                                    <p th:if="${#fields.hasErrors('learningRate')}" th:errors="*{learningRate}" class="help-block"></p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" th:classappend="${#fields.hasErrors('dataSetName')} ? 'has-error'">
                            <div class="row">
                                <div class="col-lg-2">
                                    <label for="dataSetName" class="control-label" th:text="#{mlp.create.data.set}">Data Set:</label>
                                </div>
                                <div class="col-lg-4">
                                    <select class="form-control" th:field="*{dataSetName}" autofocus="autofocus">
                                        <option th:each="dataset : ${datasets}" th:value="${dataset.name()}" th:text="#{'data.set.name.'+ ${dataset.name()}}">Select Option</option>
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <p th:if="${#fields.hasErrors('dataSetName')}" th:errors="*{dataSetName}" class="help-block"></p>
                                </div>
                            </div>
                        </div>                        

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-2"></div> 
                                <div class="col-lg-4">
                                    <button id="mlpCreateSubmit" class="btn btn-primary" type="submit" th:text="#{mlp.create.submit}">Train</button>
                                </div> 
                            </div> 
                        </div>								
                    </form>
                </div>
            </div>            
        </div>
    </body>
</html>